@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<script src="~/Scripts/sweetalert.min.js"></script>
@*<script src="~/Scripts/hogon/js/jquery-1.11.3.min.js"></script>*@
<!-- Data Tables -->
<script src="~/Scripts/hogon/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/hogon/js/plugins/dataTables/dataTables.bootstrap.js"></script>
@*自定义js*@
<script src="~/Scripts/hogon/js/content.js"></script>
<!-- jQuery 表单验证-->
<script src="~/Scripts/hogon/js/plugins/validate/jquery.validate.min.js"></script>
<script src="~/Scripts/hogon/js/plugins/validate/messages_zh.min.js"></script>
<!-- iCheck-->
<script src="~/Scripts/hogon/js/plugins/iCheck/icheck.min.js"></script>
<script src="~/Scripts/hogon/js/plugins/fileinput/fileinput.min.js"></script>
<script src="~/Scripts/hogon/js/plugins/fileinput/fileinput-zh.js"></script>
@*多选下拉*@
<link href="~/Content/css/chosen.css" rel="stylesheet" />
<script src="~/Scripts/plugins/chosen.jquery.js"></script>
<!-- 全局js -->
@*<script src="js/jquery-1.11.3.min.js"></script>*@

<style type="text/css">
    th {
        text-align: center;
    }

    tr {
    }

    td {
        text-align: center;
    }

    .checkbox {
        margin-top: 5px;
        margin-bottom: 5px;
    }

        .checkbox + .checkbox, .radio + .radio {
            margin-top: 10px;
        }
</style>

<div class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox-title">
            <h5>商品设置</h5>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tabs-container ibox">
                    <ul class="nav nav-tabs bg-f">
                        <li class="active"><a href="#tab-01" data-toggle="tab">产品信息</a></li>
                        <li class=""><a href="#tab-02" data-toggle="tab">商品设置</a></li>
                        <li class=""><a href="#tab-03" data-toggle="tab">应用案例</a></li>
                        <li class=""><a href="#tab-04" data-toggle="tab">使用说明</a></li>
                        <li class=""><a href="#tab-05" data-toggle="tab">商品服务</a></li>
                    </ul>
                    <div class="tab-content">
                        @*产品信息*@
                        <div id="tab-01" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ibox float-e-margins">
                                            <div class="" id="id" ng-model="Guid">
                                                <form method="get" name="myForm" novalidate class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">产品名称<i class="fa fa-asterisk fa-red"></i></label>
                                                        <div class="col-sm-7">
                                                            <input type="text" id="ProductName" name="ProductName" ng-model="ProductName" class="form-control" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">产品编码:<i class="fa fa-asterisk fa-red"></i></label>
                                                        <div class="col-sm-7">
                                                            <input type="text" id="ProductCode" name="ProductCode" ng-model="ProductCode" class="form-control" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">品牌</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control m-b" name="Brand" id="Brand" ng-model="Brand"></select>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">搜索关键词:<i class="fa fa-asterisk fa-red"></i></label>
                                                        <div class="col-sm-7">
                                                            <input type="text" id="SearchPrimaryKey" name="SearchPrimaryKey" ng-model="SearchPrimaryKey" class="form-control" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">产品类型</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control m-b" name="ProductType" id="ProductType"></select>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">最低销售价</label>
                                                        <div class="col-sm-3">
                                                            <select class="form-control  m-b" name="SalerMinPriceType" id="SalerMinPriceType">
                                                                <option value="BySpecAmount">按具体金额</option>
                                                                <option value="ByPercent">按百分比</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="number" id="SalerMinPrice" name="SalerMinPrice" ng-model="SalerMinPrice" class="form-control" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">销售基准价</label>
                                                        <div class="col-sm-7">
                                                            <input type="number" id="SalerBasicPrice" name="SalerBasicPrice" ng-model="SalerBasicPrice" class="form-control" required="" aria-required="true">
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">产品描述</label>
                                                        <div class="col-sm-7">
                                                            <textarea id="ProductDescription" name="ProductDescription" ng-model="ProductDescription" class="form-control" row="4"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">促销是否影响最低价</label>
                                                        <div class="col-sm-7">
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="True" name="IsEffectMinPrice" checked> <i></i> 是
                                                                </label>
                                                                <label>
                                                                    <input type="radio" value="False" name="IsEffectMinPrice"> <i></i> 否
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">是否开启最低价预警</label>
                                                        <div class="col-sm-7">
                                                            <div class="radio i-checks">
                                                                <label>
                                                                    <input type="radio" value="True" name="IsEnableMinPriceWarning" checked> <i></i> 是
                                                                </label>
                                                                <label>
                                                                    <input type="radio" value="False" name="IsEnableMinPriceWarning"> <i></i> 否
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="hr-line-dashed"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3"></label>
                                                        <div class="col-sm-8">
                                                            <button type="button" class="btn btn-primary" ng-click="SaveProduct()" ng-disabled="myForm.$invalid">保存</button>
                                                            <button type="button" class="btn btn-white" ng-click="btnBack()">返回</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*规格选择*@
                        @*商品生成*@
                        <div id="tab-02" class="tab-pane">
                            <div class="panel-body">
                                <form name="createGoodsForm" method="get">
                                    <div class="gray-bg">
                                        <div class="wrapper wrapper-content animated fadeInRight">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-title">
                                                            <h5>规格类型<input type="hidden" id="SpecProductTypeId"></h5>
                                                        </div>
                                                        <div class="ibox-content" style="height: 240px;overflow-y:auto; ">
                                                            <div class="row" id="SpecTypeTd">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-title">
                                                            <h5>规格参数</h5>
                                                        </div>
                                                        <div class="ibox-content" style="height: 240px;" id="SpecParameter">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="text-align:center;">
                                                    <button type="button" class="btn btn-primary" ng-click="CreateGoods()">生成商品</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="ibox float-e-margins" style="padding-top:20px;">
                                    <table class="table table-responsive table-striped table-bordered table-hover " id="editable">
                                        <thead>
                                            <tr>
                                                <th>商品名称</th>
                                                <th>商品类型</th>
                                                <th>规格参数</th>
                                                <th>上架</th>
                                                <th>默认商品</th>
                                                <th>商品编码</th>
                                                <th>商品别名</th>
                                                <th>销售价</th>
                                                <th>商品重量(kg)</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ProductGoods"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*应用案例*@
                        <div id="tab-03" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12" style="border-bottom: 1px dashed #e7eaec;padding-bottom:10px;">
                                        <button type="button" class="btn btn-primary pull-right" data-toggle='modal' data-target='#AppCaseModal'><i class="glyphicon glyphicon-plus" style="margin-right:5px;"></i>新增</button>
                                    </div>
                                    <div class="col-sm-12 searching clearfix">
                                        <form name="SearchAppCaseForm">
                                            <div class="control-label pull-left" style="width: 46%;">
                                                <label class="col-sm-2 searchcategory text-right control-label">主题:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="SearchAPSubject" />
                                                </div>
                                                <label class="col-sm-2 searchcategory text-right control-label">应用行业:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="SearchAPAppIndustry" />
                                                </div>
                                            </div>
                                            <div class="control-label pull-left" style="width: 46%;">
                                                <label class="col-sm-2 searchcategory text-right control-label">用途:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="SearchAPUsage" />
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary pull-right" ng-click="SearchAppCase()" ng-disabled="SearchAppCaseForm.$invalid"><i class="glyphicon glyphicon-search" style="margin-right:5px;"></i>查询</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="ibox float-e-margins" style="padding-top:20px;">
                                    <table class="table table-responsive table-striped table-bordered table-hover ">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>主题</th>
                                                <th>作者</th>
                                                <th>应用行业</th>
                                                <th>用途</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="AppCaseTable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*使用说明*@
                        <div id="tab-04" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12" style="border-bottom: 1px dashed #e7eaec;padding-bottom:10px;">
                                        <button type="button" class="btn btn-primary pull-right" data-toggle='modal' data-target='#InstructionModal'><i class="glyphicon glyphicon-plus" style="margin-right:5px;"></i>新增</button>
                                    </div>
                                    <div class="col-sm-12 searching clearfix">
                                        <form name="SelectInstructionForm">
                                            <div class="control-label pull-left" style="width: 46%;">
                                                <label class="col-sm-2 searchcategory text-right control-label">主题:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="SearchInSubject" />
                                                </div>
                                                <label class="col-sm-2 searchcategory text-right control-label">应用行业:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="SearchInAppIndustry" />
                                                </div>
                                            </div>
                                            <div class="control-label pull-left" style="width: 46%;">
                                                <label class="col-sm-2 searchcategory text-right control-label">用途:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" ng-model="SearchInUsage" />
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary pull-right" ng-click="SerachInstruction()" ng-disabled="SelectInstructionForm.$invalid"><i class="glyphicon glyphicon-search" style="margin-right:5px;"></i>查询</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="ibox float-e-margins" style="padding-top:20px;">
                                    <table class="table table-responsive table-striped table-bordered table-hover ">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>主题</th>
                                                <th>作者</th>
                                                <th>应用行业</th>
                                                <th>用途</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="InstructionTable"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*商品服务*@
                        <div id="tab-05" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <button id="btnServiceGoods" type="button" data-toggle="modal" class="btn btn-primary pull-right" ng-click="AddGoodsService()">添加商品服务</button>
                                </div>
                                <div class="ibox float-e-margins" style="padding-top:20px;">
                                    <table class="table table-responsive table-striped table-bordered table-hover ">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>名字</th>
                                                <th>类型</th>
                                                <th>编号</th>
                                                <th>价格</th>
                                                <th>描述</th>
                                                <th>服务商</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="ServiceGoods"></tbody>
                                    </table>
                                </div>
                                <div style="width:200px;margin:0px auto;text-align:center;">
                                    <span><button id="btnSave" type="button" class="btn btn-primary" ng-click="Save()">保存</button></span>
                                    <span><button id="btnBack" type="button" class="btn btn-white" ng-click="btnBack()">返回</button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*服务商品模态框（选择商品服务）*@
<div class="modal fade" id="ServiceGoodsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px;margin-left:-300px !important;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">服务商品选择</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" id="commentForm">
                                <div class="ibox float-e-margins" style="padding-top:20px;">
                                    <table class="table table-responsive table-striped table-bordered table-hover ">
                                        <thead>
                                            <tr>
                                                <th>请选择</th>
                                                <th>服务商品名称</th>
                                                <th>服务商品编码</th>
                                                <th>价格</th>
                                                <th>商品类型</th>
                                                <th>服务商名称</th>
                                            </tr>
                                        </thead>
                                        <tbody id="CheckServiceGoods"></tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="CheckServiceGoods()" >保存</button>
            </div>
        </div>
    </div>
</div>
@*应用案例模态框（新增应用案例）*@
<div class="modal fade" id="AppCaseModal" tabindex="-1" role="dialog" aria-labelledby="AddAppCaseModalS">
    <div class="modal-dialog" role="document"style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddAppCaseModalS">应用案例添加</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" name="addAppCaseForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">主题:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="APSubject" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">应用行业:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="APAppIndustry" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">用途:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="APUsage" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group" id="fileupload">
                                    <label class="col-sm-4 control-label">文件上传</label>
                                    <div class="col-sm-7">
                                        <input type="file" id="file-Portrait1" class="file-loading">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-disabled="addAppCaseForm.$invalid" ng-click="SaveAppCase()">保存</button>
            </div>
        </div>
    </div>
</div>
@*应用案例模态框（编辑应用案例）*@
<div class="modal fade" id="EditAppCaseModal" tabindex="-1" role="dialog" aria-labelledby="EditAppCaseModalS">
    <div class="modal-dialog" role="document"style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditAppCaseModalS">应用案例编辑<input type='hidden' id='AppCaseId' /></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" name="EditAppCaseForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">主题:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="apSubject" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">应用行业:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="apAppIndustry" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">用途:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="apUsage" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group" id="fileupload">
                                    <label class="col-sm-4 control-label">文件上传</label>
                                    <div class="col-sm-7">
                                        <input type="file" id="file-Portrait1" class="file-loading">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-disabled="EditAppCaseForm.$invalid" ng-click="EditSaveAppCase()">保存</button>
            </div>
        </div>
    </div>
</div>
@*使用说明模态框（新增使用说明）*@
<div class="modal fade" id="InstructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">使用说明添加</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" name="InstructionForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">主题:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="INSubject" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">应用行业:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="INAppIndustry" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">用途:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="INUsage" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group" id="fileupload">
                                    <label class="col-sm-4 control-label">文件上传</label>
                                    <div class="col-sm-7">
                                        <input type="file" id="file-Portrait1" class="file-loading">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-disabled="InstructionForm.$invalid" ng-click="SaveInstruction()">保存</button>
            </div>
        </div>
    </div>
</div>
@*使用说明模态框（编辑使用说明）*@
<div class="modal fade" id="EditInstructionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">使用说明编辑<input type='hidden' id='InstructionId' /></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <form method="get" class="form-horizontal" name="InstructionForm" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">主题:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inSubject" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">应用行业:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inAppIndustry" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">用途:</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="inUsage" required="" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-group" id="fileupload">
                                    <label class="col-sm-4 control-label">文件上传</label>
                                    <div class="col-sm-7">
                                        <input type="file" id="file-Portrait1" class="file-loading">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-disabled="InstructionForm.$invalid" ng-click="EditSaveInstruction()">保存</button>
            </div>
        </div>
    </div>
</div>
@*使用说明/应用案例详情（模态框）*@
<div class="modal fade" id="DetailModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:500px;height:420px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">主题:</label>
                                    <div class="col-sm-7"><span id="Subject"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">应用行业:</label>
                                    <div class="col-sm-7"><span id="AppIndustry"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">用途:</label>
                                    <div class="col-sm-7"><span id="Usage"></span></div>
                                </div>
                                <div class="form-group" id="fileupload">
                                    <label class="col-sm-4 control-label">文件上传</label>
                                    <div class="col-sm-7">
                                        <a id="DetailImg"></a>
                                       @* <input type="file" id="file-Portrait1" class="file-loading">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
@*服务商品详情（模态框）*@
<div class="modal fade" id="ServiceGoodsDetailModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <table>
                                <tr>
                                    <td><span>服务名称：</span></td>
                                    <td><span id="GoodsName"></span></td>
                                </tr>
                                <tr>
                                    <td><span>商品类型：</span></td>
                                    <td><span id="GoodsType"></span></td>
                                </tr>
                                <tr>
                                    <td><span>商品编码：</span></td>
                                    <td><span id="GoodsCode"></span></td>
                                </tr>
                                <tr>
                                    <td><span>商品价格：</span></td>
                                    <td><span id="SalePrice"></span></td>
                                </tr>
                                <tr>
                                    <td><span>服务商名称：</span></td>
                                    <td><span id="ServicerName"></span></td>
                                </tr>
                                <tr>
                                    <td><span>商品描述：</span></td>
                                    <td><span id="GoodsDesription"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var fileUrl, fileName, fileSize, fileType;
    var Id;
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function ($scope, $http) {
        var id = window.location.search;
        id = id.substring(id.indexOf('=') + 1);
        $scope.Guid = id;
        Id = id;
        //模态框服务商品绑定
        $http({
            method: 'POST',
            url: '@Url.Action("FindServiceGoodsOutProduct")',
            data: { "productId": Id }
        }).then(function successCallback(response) {
            // 请求成功执行代码
            $.each(response.data, function (index, v) {
                //请求成功执行代码
                //展示商品服务信息
                var td = $("<tr><td><input id='" + v.Id + "'  data-name='ServiceGoods' type='checkbox' /></td><td>" + v.GoodsName +
                    "</td><td>" + v.GoodsCode + "</td><td>" + v.SalePrice + "</td><td>" + v.GoodsTypeNames +
                    "</td><td>" + v.Name + "</td></tr>")
                $("#CheckServiceGoods").append(td);
            })
        }, function errorCallback(response) {
            // 请求失败执行代码
        });

        //品牌下拉框绑值>产品类型下拉框绑值>产品编辑区域赋值>使用说明-应用案例绑定
        $http({
            method: 'POST',
            url: '/GoodsMan/ProductGoods/FindAllBrandForDrop',
            data: null
        }).then(function successCallback(response) {
            // 请求成功执行代码
            $("#Brand").append("<option value=''  selected='selected'>－－无－－</option>");
            $.each(response.data, function (index, v) {
                $("#Brand").append($("<option value = '" + v.Id + "'></option>").text(v.BrandName));
            })
            //产品类型下拉框绑值
            $http({
                method: 'POST',
                url: '/GoodsMan/ProductGoods/FindAllProductTypeForDrop',
                data: null
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $("#ProductType").append("<option value=''  selected='selected'>－－无－－</option>");
                $.each(response.data, function (index, v) {
                    $("#ProductType").append($("<option value = '" + v.Id + "'></option>").text(v.TypeName));
                })
                //绑定完成后赋值
                if (id != "") {
                    //编辑绑值
                    $http({
                        method: 'POST',
                        url: '/GoodsMan/ProductGoods/FindProductById',
                        data: { Id: id }
                    }).then(function successCallback(response) {
                        // 请求成功执行代码
                        $scope.Guid = response.data.Id;
                        $scope.ProductName = response.data.ProductName;
                        $("#Brand").val(response.data.BrandId);
                        $("#ProductType").val(response.data.ProductTypeId);
                        $("#SpecProductTypeId").val(response.data.ProductTypeId);
                        $scope.SearchPrimaryKey = response.data.SearchPrimaryKey;
                        $scope.ProductDescription = response.data.ProductDescription;
                        $scope.ProductCode = response.data.ProductCode;
                        $scope.SalerBasicPrice = response.data.SalerBasicPrice;
                        $scope.SalerMinPrice = response.data.SalerMinPrice;
                        $("#SalerMinPriceType option[value='" + response.data.SalerMinPriceType + "']").attr("selected", "true");
                        $('input:radio[value="' + response.data.IsEffectMinPrice + '"]:checked').attr("checked", "true");
                        $('input:radio[name="' + response.data.IsEnableMinPriceWarning + '"]:checked').attr("checked", "true");
                        //绑定应用案例，使用说明
                        //规格类型
                        BingSpecType();
                        BindAppCase()
                        BindInstruction();
                        BindServiceGoods();
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                }
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }, function errorCallback(response) {
            // 请求失败执行代码
        });

        //根据产品类型绑定规格类型
        $("#ProductType").change(function () {
            $("#SpecProductTypeId").val($(this).val());
            BingSpecType();
        });

        function BingSpecType() {
            var productTypeId = $("#SpecProductTypeId").val();
            //规格类型绑值
            $http({
                method: 'POST',
                url: '@Url.Action("FindSpecTypeByProductType")',
                data: { "productTypeId": $("#SpecProductTypeId").val() }
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $("#SpecTypeTd").children().remove()
                $.each(response.data, function (index, v) {
                    var checkbox = $("<div class='col-sm-6 checkbox i-checks'><label><input id='" + v.Id +
                        "' data-name='SpecType' type='checkbox' value='" + v.SpecName + "'><i></i> " + v.SpecName +
                        "</label></div>");
                    $("#SpecTypeTd").append(checkbox);
                })
                //规格类型点击时触发规格参数绑值
                $("input[data-name='SpecType']").on('ifClicked', function () {
                    $scope.SpecType = {
                        "Ids": $(this).prop("id"),
                    }
                    var Id = $(this).prop("id");
                    var Name = $(this).val();
                    var checked = $(this).prop("checked") == true ? false : true;
                    //规格参数绑值
                    $http({
                        method: 'POST',
                        url: '@Url.Action("FindAllSpecTypeParameterForDrop")',
                        data: $scope.SpecType,
                    }).then(function successCallback(response) {
                        // 请求成功执行代码
                        $("#SpecParameter").html("");
                        if (checked) {
                            //联动绑定规格参数
                            var row = $("<div class='row' id='" + Id + "'></div>");
                            $.each(response.data, function (index, v) {
                                var checkbox = $("<div class='col-sm-6 checkbox i-checks'><label><input id='" + v.Id +
                                     "' data-name='" + Id + "'  type='checkbox' value='" + v.ParameterName + "' > <i></i> " + v.ParameterName +
                                     "</label></div>");
                                row.append(checkbox);
                            });
                            $("#SpecParameter").append(row);
                            $("#SpecParameter").append($("<div class='hr-line-dashed'></div>"))
                            $("#ParaContent").attr("style", "display:block");
                        } else {
                            //联动删除规格参数
                            $.each(response.data, function (index, v) {
                                $("div[id='" + Id + "']").remove();
                            });
                        }
                        iChecksBox();
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                });
                iChecksBox();
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }

        //保存产品
        $scope.SaveProduct = function () {
            Repetition();
            if ($scope.ProductName != "") {
                var BrandId = $("#Brand").val();
                var ProductTypeId = $("#ProductType").val();
                if (Brand != "－－无－－" && ProductTypeId != "－－无－－") {
                    var IsEffectMinPrice = $('input:radio[name="IsEffectMinPrice"]:checked').val();
                    var IsEnableMinPriceWarning = $('input:radio[name="IsEnableMinPriceWarning"]:checked').val();
                    $scope.Product = {
                        "Id": $scope.Guid,
                        "ProductName": $scope.ProductName,
                        "BrandId": BrandId,
                        "ProductTypeId": ProductTypeId,
                        "SearchPrimaryKey": $scope.SearchPrimaryKey,
                        "ProductDescription": $scope.ProductDescription,
                        "ProductCode": $scope.ProductCode,
                        "SalerBasicPrice": $scope.SalerBasicPrice,
                        "SalerMinPrice": $scope.SalerMinPrice,
                        "SalerMinPriceType": $scope.SalerMinPriceType,
                        "IsEffectMinPrice": IsEffectMinPrice,
                        "IsEnableMinPriceWarning": IsEnableMinPriceWarning,
                    };
                    $http({
                        method: 'POST',
                        url: "/GoodsMan/ProductGoods/SaveProduct",
                        data: $scope.Product
                    }).then(function successCallback(response) {
                        $scope.Guid = response.data.Id;
                        // 请求成功执行代码
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                        swal(response.data, "", "warning");
                    });
                }
            }
        }

        //生成商品
        $scope.CreateGoods = function () {
            var typeJsonArray = new Array();
            var childrenJsonArray = new Array();
            var num1 = 0;
            //创建规格参数集合（根据规格类型区分规格参数集合）
            $.each($("input[data-name='SpecType']"), function (index, v) {
                if (v.checked) {
                    typeJsonArray[num1] = new Array();
                    var num = 0;
                    $.each($("input[data-name='" + v.id + "']"), function (index, item) {
                        if (item.checked) {
                            childrenJsonArray[num] = new Object();
                            childrenJsonArray[num].Id = item.id;
                            childrenJsonArray[num].ParameterName = $(this).val();
                            childrenJsonArray[num].SpecTypeId = $(this).attr("data-name");
                            typeJsonArray[num1][num] = childrenJsonArray[num];
                            num++;
                        }
                        //if (item.checked) {
                        //    childrenJsonArray[num] = new Object();
                        //    childrenJsonArray[num].Id = item.id;
                        //    childrenJsonArray[num].SpecTypeId = $(this).parent("div").parent("div").attr("id");
                        //    typeJsonArray[num1][num] = childrenJsonArray[num];
                        //    num++;
                        //}
                    });
                    if (typeJsonArray[num1][num - 1] != null) {
                        num1++;
                    }
                }
            });
            console.info(typeJsonArray);
            var productTypeId = $("#ProductType").val();
            var brandId = $("#Brand").val();
            if (productTypeId != "" || brandId != "" || num != 0) {
                $scope.Product = {
                    "Id": $scope.Guid,
                    "SearchPrimaryKey": $scope.SearchPrimaryKey,
                    "ProductDescription": $scope.ProductDescription,
                    "ProductCode": $scope.ProductCode,
                    "SalerBasicPrice": $scope.SalerBasicPrice,
                    "SalerMinPrice": $scope.SalerMinPrice,
                    "SalerMinPriceType": $scope.SalerMinPriceType,
                    "IsEffectMinPrice": $("input[name='IsEffectMinPrice'][checked='checked']").val(),
                    "IsEnableMinPriceWarning": $("input[name='IsEnableMinPriceWarning'][checked='checked']").val(),
                    "ProductTypeId": productTypeId,
                    "BrandId": brandId,
                    "ProductName": $scope.ProductName,

                }
                $http({
                    method: 'POST',
                    url: '/GoodsMan/ProductGoods/CreateSpec',
                    data: { "dtoProduct": $scope.Product, "typeJsonArray": typeJsonArray }
                }).then(function successCallback(response) {
                    //请求成功执行代码
                    $.each(response.data, function (index, v) {
                        var tr = $("<tr class='gradeA'></tr>");
                        var td = $('<td>' + v.GoodsName + '</td><td id=' + $("#ProductType").val() + '>'
                            + $("option[value='" + $("#ProductType").val() + "']").text() + '</td><td>'
                            + v.SpecParameterS + '</td><td><input   data-name="IsAvailable" type="checkbox"/></td><td><input type="radio" value="false" name="IsDefaultGoods"></td><td>'
                            + v.GoodsCode + '</td><td>' + v.GoodsAlias + '</td><td>' + v.SalePrice + '</td><td>'
                            + v.Weight + '</td><td><button class="btn btn-primary btn-xs edit-btn">编辑</button></td>');
                        tr.append(td);
                        $("#ProductGoods").append(tr);
                    });
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
                $(".odd").remove();
            }
        }

        //添加商品服务
        $scope.AddGoodsService = function () {
            $('#ServiceGoodsModal').modal("show");

        }
        $scope.CheckServiceGoods = function () {
            var ServiceGoodsId = new Array();
            var serviceNum = 0;
            $.each($("input[data-name='ServiceGoods']"), function (index, v) {
                if (v.checked) {
                    ServiceGoodsId[serviceNum] = v.id;
                    serviceNum++;
                }
            });
            if (ServiceGoodsId.length > 0) {
                $http({
                    method: 'POST',
                    url: '@Url.Action("FindServiceGoodsByListId")',
                    data: { "ServiceGoodsId": ServiceGoodsId }
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    //添加后显示
                    var num = 1;
                    $.each(response.data, function (index, v) {
                        var tr = $("<tr class='data' data-name='ServiceGoods' id='" + v.Id + "'></tr>");
                        var td = $("<td>" + num + "</td><td>" + v.GoodsName +
                         "</td><td>" + v.GoodsTypeNames +
                         "</td><td>" + v.GoodsCode + "</td><td>" + v.SalePrice +
                         "</td><td>" + v.GoodsDesription + "</td><td>" + v.ServicerName +
                         "</td><td><span><a title='删除' class='delet' href='javascript:RemoveServiceGoods(\"" + v.Id +
                         "\")'><span class='glyphicon glyphicon-trash aria-hidden=\"true\"'></span></a></td></tr>");
                        tr.append(td);
                        $("#ServiceGoods").append(tr);
                        num++;
                    })
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
            $('#ServiceGoodsModal').modal("hide");
        }

        //添加保存应用案例
        $scope.SaveAppCase = function () {
            //上传图片后保存应用案例
            if (fileName == null && fileSize == null && fileType == null && fileUrl == null) {
                swal("请上传图片");
            } else {
                $http({
                    method: 'POST',
                    url: '/FileUpload/SeveFile',
                    data: JSON.stringify({ FileName: fileName, FileType: fileType, FileSize: fileSize, Url: fileUrl })
                }).then(function successCallback(response) {
                    $scope.AppCase = {
                        "Subject": $scope.APSubject,
                        "AppIndustry": $scope.APAppIndustry,
                        "Usage": $scope.APUsage,
                        "FileUpLoadId": response.data,
                        "ProductId": $scope.Guid,
                    };
                    $http({
                        method: 'POST',
                        url: '@Url.Action("SaveAppCase")',
                        data: $scope.AppCase
                    }).then(function successCallback(response) {
                        // 请求成功执行代码,添加后显示
                        BindAppCase();
                        $('#AppCaseModal').modal("hide");
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                }, function errorCallback(response) {
                    //请求失败执行代码
                });
            }
        }
        //编辑保存应用案例
        $scope.EditSaveAppCase = function () {
            //上传图片后保存应用案例
            if (fileName == null && fileSize == null && fileType == null && fileUrl == null) {
                swal("请上传图片");
            } else {
                $http({
                    method: 'POST',
                    url: '/FileUpload/SeveFile',
                    data: JSON.stringify({ FileName: fileName, FileType: fileType, FileSize: fileSize, Url: fileUrl })
                }).then(function successCallback(response) {
                    $scope.AppCase = {
                        "Id": $("#AppCaseId").val(),
                        "Subject": $("#apSubject").val(),
                        "AppIndustry": $("#apAppIndustry").val(),
                        "Usage": $("#apUsage").val(),
                        "FileUpLoadId": response.data,
                        "ProductId": $scope.Guid,
                    };
                    $http({
                        method: 'POST',
                        url: '@Url.Action("SaveAppCase")',
                        data: $scope.AppCase
                    }).then(function successCallback(response) {
                        // 请求成功执行代码,添加后显示
                        BindAppCase();
                        $('#EditAppCaseModal').modal("hide");
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                }, function errorCallback(response) {
                    //请求失败执行代码
                });
            }
        }


        //添加使用说明
        $scope.SaveInstruction = function () {
            //上传图片后保存使用说明
            if (fileName == null && fileSize == null && fileType == null && fileUrl == null) {
                swal("请上传图片");
            } else {
                $http({
                    method: 'POST',
                    url: '/FileUpload/SeveFile',
                    data: JSON.stringify({ FileName: fileName, FileType: fileType, FileSize: fileSize, Url: fileUrl })
                }).then(function successCallback(response) {
                    $scope.Instruction = {
                        "Subject": $scope.INSubject,
                        "AppIndustry": $scope.INAppIndustry,
                        "Usage": $scope.INUsage,
                        "FileUpLoadId": response.data,
                        "ProductId": $scope.Guid,
                    };
                    $http({
                        method: 'POST',
                        url: '@Url.Action("SaveInstruction")',
                        data: $scope.Instruction
                    }).then(function successCallback(response) {
                        // 请求成功执行代码，添加后显示
                        BindInstruction();
                        $('#InstructionModal').modal("hide");
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                }, function errorCallback(response) {
                    //请求失败执行代码
                });
            }
        }
        //编辑保存使用说明
        $scope.EditSaveInstruction = function () {
            //上传图片后保存使用说明
            if (fileName == null && fileSize == null && fileType == null && fileUrl == null) {
                swal("请上传图片");
            } else {
                $http({
                    method: 'POST',
                    url: '/FileUpload/SeveFile',
                    data: JSON.stringify({ FileName: fileName, FileType: fileType, FileSize: fileSize, Url: fileUrl })
                }).then(function successCallback(response) {
                    $scope.Instruction = {
                        "Id": $("#InstructionId").val(),
                        "Subject": $("#inSubject").val(),
                        "AppIndustry": $("#inAppIndustry").val(),
                        "Usage": $("#inUsage").val(),
                        "FileUpLoadId": response.data,
                        "ProductId": $scope.Guid,
                    };
                    $http({
                        method: 'POST',
                        url: '@Url.Action("SaveInstruction")',
                        data: $scope.Instruction
                    }).then(function successCallback(response) {
                        // 请求成功执行代码，添加后显示
                        BindInstruction();
                        $('#EditInstructionModal').modal("hide");
                    }, function errorCallback(response) {
                        // 请求失败执行代码
                    });
                }, function errorCallback(response) {
                    //请求失败执行代码
                });
            }
        }

        //应用案例模糊查询
        $scope.SearchAppCase = function () {
            if ($scope.SearchAPSubject.trim() == "" && $scope.SearchAPAppIndustry.trim() == "" && $scope.SearchAPUsage.trim() == "") {
                BindAppCase();
            }
            else {
                $scope.AppCase = {
                    "Subject": $scope.SearchAPSubject,
                    "AppIndustry": $scope.SearchAPAppIndustry,
                    "Usage": $scope.SearchAPUsage,
                };
                $http({
                    method: 'POST',
                    url: '@Url.Action("FindAppCaseByLike")',
                    data: $scope.AppCase
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    //添加后显示
                    $("#AppCaseTable").html("");
                    $("#AppCaseTable").append("<tr><th>序号</th><th>主题</th><th><span>作者</span></th><th>应用行业</th> <th>用途</th><th>操作</th></tr>");
                    var num = 1;
                    $.each(response.data, function (index, v) {
                        var td = $("<tr id='" + v.Id + "' data-name='Edit'><td>" + num + "</td><td>" + v.Subject + "</td><td>" + v.Author +
                          "</td><td>" + v.AppIndustry + "</td><td>" + v.Usage +
                          "</td><td>&nbsp;&nbsp;<a title='查看明细' class='detail' href='javascript:AppCaseDetail(\"" + v.Id +
                          "\")'><span class='glyphicon glyphicon-zoom-in aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='编辑' class='edit' href='javascript:EditAppCase(\"" + v.Id +
                          "\")'><span class='glyphicon glyphicon-pencil aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='删除' class='delet' href='javascript:AppCaseRemove(\"" + v.Id +
                          "\")'><span class='glyphicon glyphicon-trash aria-hidden=\"true\"'></span></a></td></tr>");
                        $("#AppCaseTable").append(td);
                        num++;
                    })

                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
        };

        //使用说明模糊查询
        $scope.SerachInstruction = function () {
            if ($scope.SearchInSubject.trim() == "" && $scope.SearchInAppIndustry.trim() == "" && $scope.SearchInUsage.trim() == "") {
                BindInstruction();
            }
            else {
                $scope.Instruction = {
                    "Subject": $scope.SearchInSubject,
                    "AppIndustry": $scope.SearchInAppIndustry,
                    "Usage": $scope.SearchInUsage,
                };
                $http({
                    method: 'POST',
                    url: '@Url.Action("FindInstructionByLike")',
                    data: $scope.Instruction
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    //添加后显示
                    $("#InstructionTable").html("");
                    var num = 1;
                    $.each(response.data, function (index, v) {
                        var td = $("<tr id='" + v.Id + "'><td>" + num + "</td><td>" + v.Subject + "</td><td>" + v.Author +
                    "</td><td>" + v.AppIndustry + "</td><td>" + v.Usage +
                      "</td><td>&nbsp;&nbsp;<a title='查看明细' class='detail' href='javascript:InstructionDetail(\"" + v.Id +
                        "\")'><span class='glyphicon glyphicon-zoom-in aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='编辑' class='edit'  href='javascript:EditInstruction(\"" + v.Id +
                        "\")'><span class='glyphicon glyphicon-pencil aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='删除' class='delet' href='javascript:InstructionRemove(\"" + v.Id +
                        "\")'><span class='glyphicon glyphicon-trash aria-hidden=\"true\"'></span></a></td></tr>");
                        $("#InstructionTable").append(td);
                        num++;
                    })

                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
        };

        //应用案例加载
        function BindAppCase() {
            $http({
                method: 'POST',
                url: '@Url.Action("FindAppCaseByProductId")',
                data: { "productId": $scope.Guid }
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $("#AppCaseTable").html("");
                var num = 1;
                $.each(response.data, function (index, v) {
                    var td = $("<tr id='" + v.Id + "' data-name='Edit'><td>" + num + "</td><td>" + v.Subject + "</td><td>" + v.Author +
                        "</td><td>" + v.AppIndustry + "</td><td>" + v.Usage +
                          "</td><td>&nbsp;&nbsp;<a title='查看明细' class='detail' href='javascript:AppCaseDetail(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-zoom-in aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='编辑' class='edit' href='javascript:EditAppCase(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-pencil aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='删除' class='delet' href='javascript:AppCaseRemove(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-trash aria-hidden=\"true\"'></span></a></td></tr>");
                    $("#AppCaseTable").append(td);
                    num++;
                })
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }
        //使用说明加载
        function BindInstruction() {
            $http({
                method: 'POST',
                url: '@Url.Action("FindInstructionByProductId")',
                data: { "productId": $scope.Guid }
            }).then(function successCallback(response) {
                // 请求成功执行代码
                $("#InstructionTable").html("");
                var num = 1;
                $.each(response.data, function (index, v) {
                    var td = $("<tr id='" + v.Id + "'><td>" + num + "</td><td>" + v.Subject + "</td><td>" + v.Author +
                        "</td><td>" + v.AppIndustry + "</td><td>" + v.Usage +
                          "</td><td>&nbsp;&nbsp;<a title='查看明细' class='detail' href='javascript:InstructionDetail(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-zoom-in aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='编辑' class='edit'  href='javascript:EditInstruction(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-pencil aria-hidden=\"true\"'></span></a>&nbsp;&nbsp;<a title='删除' class='delet' href='javascript:InstructionRemove(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-trash aria-hidden=\"true\"'></span></a></td></tr>");
                    $("#InstructionTable").append(td);
                    num++;
                })
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }
        //服务商品加载
        function BindServiceGoods() {
            $http({
                method: 'POST',
                url: '@Url.Action("FindServiceGoodsByProductId")',
                data: { "Id": $scope.Guid }
            }).then(function successCallback(response) {
                // 请求成功执行代码
                //添加后显示
                var num = 1;
                $.each(response.data, function (index, v) {
                    var tr = $("<tr class='data' data-name='ServiceGoods' id='" + v.Id + "'></tr>");
                    var td = $("<td>" + num + "</td><td>" + v.GoodsName +
                        "</td><td>" + v.GoodsTypeNames +
                        "</td><td>" + v.GoodsCode + "</td><td>" + v.SalePrice +
                        "</td><td>" + v.GoodsDesription + "</td><td>" + v.ServicerName +
                            "</td><td><span><a title='删除' class='delet' href='javascript:RemoveServiceGoods(\"" + v.Id +
                            "\")'><span class='glyphicon glyphicon-trash aria-hidden=\"true\"'></span></a></td></tr>");
                    tr.append(td);
                    $("#ServiceGoods").append(tr);
                    num++;
                })
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }

        //保存服务商品,关联至产品
        $scope.Save = function () {
            var serviceGoodsIds = new Array();
            $.each($("tr[data-name='ServiceGoods']"), function (index, v) {
                serviceGoodsIds[index] = v.id;
            });
            $http({
                method: 'POST',
                url: "/GoodsMan/ProductGoods/EditServiceGoodsInProduct",
                data: { "Id": $scope.Guid, "ServiceGoodsId": serviceGoodsIds }
            }).then(function successCallback(response) {
                //请求成功执行代码
                swal({
                    title: "保存成功",
                    //text: "保存成功",
                    type: "success",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    //cancelButtonText: "取消",
                    confirmButtonText: "确定",
                    closeOnConfirm: false
                }, function () {
                    location.href = "/GoodsMan/ProductGoods/Index";
                });
               // swal("保存成功", "", "success");
            }, function errorCallback(response) {
                //请求失败执行代码
            })
        }

        //判断产品名称是否重复
        function Repetition() {
            $scope.Product = {
                "Id": $scope.Guid,
                "ProductName": $scope.ProductName,
            };
            $http({
                method: 'POST',
                url: '@Url.Action("FindProductByRepetition")',
                data: $scope.Product,
            }).then(function successCallback(response) {
                // 请求成功执行代码
                if (response.data.count != 0) {
                    $scope.ProductName = "";
                }
            }, function errorCallback(response) {
                // 请求失败执行代码
            });
        }

    });

    //行内编辑，图片上传js
    $(document).ready(function () {

        //服务商品详情
        $('#ServiceGoodsDetailModel').on('shown.bs.modal', function (event) {
            var a = $(event.relatedTarget)
            var serviceGoodsid = a.data('fieldid');
            var modal = $(this);
            $.ajax({
                url: "/GoodsMan/ProductGoods/FindServiceGoodsById",
                data: { "ServiceGoodsId": serviceGoodsid },
                type: 'POST',
                success: function (v) {
                    // 请求成功执行代码
                    modal.find("#GoodsName").text(v.GoodsName);
                    modal.find("#GoodsType").text(v.GoodsTypeNames);
                    modal.find("#GoodsCode").text(v.GoodsCode);
                    modal.find("#SalePrice").text(v.SalePrice);
                    modal.find("#ServicerName").text(v.ServicerName);
                    modal.find("#GoodsDesription").text(v.GoodsDesription);
                    filename = "~/Content/fileupload/" + v.FileUpLoadName;
                },
                error: function (asd) {
                    // 请求失败执行代码
                }
            });
        });

        var t = $('#editable').DataTable({
            "bPaginate": false,
            "bSort": false,
            "bInfo": false,
            "bFilter": false
        });
        //编辑
        $("#editable tbody").on("click", ".edit-btn", function () {
            var tds = $(this).parents("tr").children();
            var put = "";
            $.each(tds, function (i, val) {
                var jqob = $(val);
                //跳过第1项 序号,按钮 i < 1 ||
                if (i < 5 || jqob.has('button').length) {
                    return true;
                }
                var txt = jqob.text();
                if (i == 8) {
                    put = $("<input class=\"col-sm-12\" type='number' >");
                }
                else {
                    put = $("<input class=\"col-sm-12\" type='text'>");
                }
                put.val(txt);
                jqob.html(put);
            });
            $(this).html("保存");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
        });
        //保存
        $("#editable tbody").on("click", ".save-btn", function () {
            //var row = t.row($(this).parents("tr"));
            var tds = $(this).parents("tr").children();
            var listProductGoods = new Array();
            var listchildren = new Array();
            var num = 0;
            var txt = "";
            var GoodsName = "";
            var GoodsTypeId = "";
            var SpecParameterS = "";
            var IsAvailable = false;
            var IsDefaultGoods = false;
            var Weight = "";
            $.each(tds, function (i, val) {
                var jqob = $(val);
                //把input变为字符串
                if (!jqob.has('button').length) {
                    if (jqob.has("input[type='text']").length) {
                        txt = jqob.children("input[type='text']").val();
                        jqob.html(txt);
                    } else if (jqob.has("input[data-name='IsAvailable']").length) {
                        if (jqob.children("input[data-name='IsAvailable']").prop("checked") == true) {
                            IsAvailable = true;
                        }
                    } else if (jqob.has("input[name='IsDefaultGoods']").length) {
                        if (jqob.children("input[name='IsDefaultGoods']").prop("checked") == true) {
                            IsDefaultGoods = true;
                        }
                    } else if (jqob.has("input[type='number']").length) {
                        txt = jqob.children("input[type='number']").val();
                        jqob.html(txt);
                    } else {
                        txt = jqob.html();
                        jqob.html(txt);
                    }
                    // jqob.html(txt);
                    switch (num) {
                        case 0:
                            listchildren[num] = txt;
                            break;
                        case 1:
                            listchildren[num] = txt;
                            break;
                        case 2:
                            listchildren[num] = txt;
                            break;
                        case 3:
                            listchildren[num] = IsAvailable;
                            break;
                        case 4:
                            listchildren[num] = IsDefaultGoods;
                            break;
                        case 5:
                            listchildren[num] = txt;
                            break;
                        case 6:
                            listchildren[num] = txt;
                            break;
                        case 7:
                            listchildren[num] = txt;
                            break;
                        case 8:
                            listchildren[num] = txt;
                            break;
                    }
                    num++;
                    //var txt = jqob.children("input").val();
                    //jqob.html(txt);
                    //t.cell(jqob).data(txt);//修改DataTables对象的数据
                }
            });

            listProductGoods = listchildren;
            $(this).html("编辑");
            $(this).toggleClass("edit-btn");
            $(this).toggleClass("save-btn");
            var s = Id;
            $.ajax({
                url: "/GoodsMan/ProductGoods/SaveProductGoods",
                data: { "productId": Id, "listProductGoods": listProductGoods },
                type: "post",
                error: function (asd) {
                    //alert("服务器未正常响应，请重试");
                },
                success: function (response) {
                    //alert(response);
                }
            });
        });


        //图片上传成功回调函数
        $(".file-loading").on("fileuploaded", function (event, data, previewId, index) {
            fileUrl = data.response.fileUrl;
            fileName = data.response.fileName;
            fileSize = data.response.fileSize;
            fileType = data.response.fileType;
        });
        //创建图片上传控件
        $('.file-loading').fileinput({
            uploadUrl: '/FileUpload/FileUpload',
            allowedFileExtensions: ["jpg", "png", "gif", "pdf"],
            maxImageWidth: 50,
            maxImageHeight: 50,
            uploadLabel: "",
            uploadTitle: "上传文件",
            removeLabel: "",
            removeTitle: "删除文件",
            browseLabel: "",
            maxFileCount: 1,
            previewFileType: "image",
            browseLabel: "",
            //browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            mainClass: "input-group-lg",
            language: 'zh',
            showUpload: true,
        });
    });

    //应用案例编辑
    function EditAppCase(id) {
        $('#EditAppCaseModal').modal('show');
        $('#EditAppCaseModal').on('shown.bs.modal', function (event) {
            var a = $(event.relatedTarget)
            var modal = $(this);
            $.ajax({
                url: "/GoodsMan/ProductGoods/FindAppCaseById",
                data: { "Id": id },
                type: 'POST',
                success: function (v) {
                    // 请求成功执行代码
                    $("#AppCaseId").val(id);
                    modal.find("#apSubject").val(v.Subject);
                    modal.find("#apAppIndustry").val(v.AppIndustry);
                    modal.find("#apUsage").val(v.Usage);
                    filename = "~/Content/fileupload/" + v.FileUpLoadName;
                },
                error: function (asd) {
                    // 请求失败执行代码
                }
            });
        });

    }
    //应用案例详情
    function AppCaseDetail(id) {
        $.ajax({
            url: "/GoodsMan/ProductGoods/FindAppCaseById",
            data: { "Id": id },
            type: 'POST',
            success: function (v) {
                // 请求成功执行代码
                $('#DetailModel').modal('show');
                $("#Subject").text(v.Subject);
                $("#AppIndustry").text(v.AppIndustry);
                $("#Usage").text(v.Usage);
                filename = "~/Content/fileupload/" + "文件名";
            },
            error: function (asd) {
                // 请求失败执行代码
            }
        });
    }
    //应用案例删除
    function AppCaseRemove(id) {
        swal({
            title: "操作提示",
            text: "确认删除吗?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "取消",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: "/GoodsMan/ProductGoods/DeleteAppCase",
                data: { "Id": id },
                type: 'POST',
                success: function (response) {
                    // 请求成功执行代码
                    swal("删除成功", "", "success");
                    $("#" + id + "").remove();
                },
                error: function (asd) {
                    // 请求失败执行代码
                }
            });
        });

    }
    //使用说明编辑
    function EditInstruction(id) {
        $('#EditInstructionModal').modal('show');
        $('#EditInstructionModal').on('shown.bs.modal', function (event) {
            var a = $(event.relatedTarget)
            var modal = $(this);
            $.ajax({
                url: "/GoodsMan/ProductGoods/FindInstructionById",
                data: { "Id": id },
                type: 'POST',
                success: function (v) {
                    // 请求成功执行代码
                    $("#InstructionId").val(id);
                    modal.find("#inSubject").val(v.Subject);
                    modal.find("#inAppIndustry").val(v.AppIndustry);
                    modal.find("#inUsage").val(v.Usage);
                    filename = "~/Content/fileupload/" + v.FileUpLoadName;
                },
                error: function (asd) {
                    // 请求失败执行代码
                }
            });
        });
    }
    //使用说明详情
    function InstructionDetail(id) {
        $('#DetailModel').modal('show');
        $.ajax({
            url: "/GoodsMan/ProductGoods/FindInstructionById",
            data: { "Id": id },
            type: 'POST',
            success: function (response) {
                // 请求成功执行代码
                $('#DetailModel').modal('show');
                $("#Subject").text(response.Subject);
                $("#AppIndustry").text(response.AppIndustry);
                $("#Usage").text(response.Usage);
                filename = "~/Content/fileupload/" + response.FileUpLoadName;
            },
            error: function (asd) {
                // 请求失败执行代码
            }
        });
    }
    //使用说明删除
    function InstructionRemove(id) {
        swal({
            title: "操作提示",
            text: "确认删除吗?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "取消",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: "/GoodsMan/ProductGoods/DeleteInstruction",
                data: { "Id": id },
                type: 'POST',
                success: function (response) {
                    // 请求成功执行代码
                    swal("删除成功", "", "success");
                    $("#" + id + "").remove();
                },
                error: function (asd) {
                    // 请求失败执行代码
                }
            });
        });
    }
    //服务商品删除
    function RemoveServiceGoods(id) {
        swal({
            title: "操作提示",
            text: "确认删除吗?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "取消",
            confirmButtonText: "确定",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: "/GoodsMan/ProductGoods/RemoveServiceGoodsInProduct",
                type: "POST",
                data: { "Id": id, "productId": Id },
                success: function (v) {
                    location.href = "/GoodsMan/ProductGoods/Index";
                   // $("#ServiceGoods").children("tr[id='" + id + "']").html("");
                    //BindServiceGoods();
                },
                error: function (v) {
                }
            })
        });
    }
    //复选框渲染
    function iChecksBox() {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    }
</script>
