
@{
	ViewBag.Title = "商品类型列表";
	Layout = "~/Views/Shared/_RoleLayout.cshtml";
	<link href="~/Content/sweetalert.css" rel="stylesheet" />
	<script src="~/Scripts/sweetalert.min.js"></script>
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/hogon/common")
@Styles.Render("~/Content/css/form")
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Content/bootstrap-treeview.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-treeview.js"></script>

<style>
	.authority {
		float: left;
		display: inline;
		margin-right: 20px;
		width: 500px;
		height: 500px;
	}

	#right {
		margin-left: 250px;
	}
</style>

<form name="myForm">
	<div class="authority">
		<span>商品分类列表：</span>
		<input id="Hidden1" type="hidden" ng-model="Guid" />
		<div id="treeview-checkable"></div>
		<div id="right">
			<button name="confirmButton" id="add" type="button" class="btn btn-primary but">添加</button>
			<button name="confirmButton" id="edit" type="button" class="btn btn-primary but" ng-disabled="myForm.$invalid">修改</button>
			<button name="confirmButton" id="detail" type="button" class="btn btn-primary but" ng-disabled="myForm.$invalid">详情</button>
			<button name="confirmButton" id="delt" type="button" class="btn btn-primary but" ng-disabled="myForm.$invalid">删除</button>
		</div>
	</div>
</form>

<script>
	var app = angular.module('myApp', []);
	app.controller('validateCtrl', function ($scope, $http) {

		//Tree绑值
		$http({
			method: 'POST',
			url: '@Url.Action("FindAllGoodsType")',
		}).then(function successCallback(response) {
			// 请求成功执行代码
			console.log(response.data[0]);
			CreateTreeMenu(response.data);
		}, function errorCallback(response) {
			// 请求失败执行代码
		});

		//添加按钮
		$("#add").on("click", function () {
			window.location.href = "/GoodsMan/GoodsType/Edit";
		});
		//获取是否选择Tree节点
		var findCheckedNodes = function () {
			return $('#treeview-checkable').treeview('getChecked');
		};
		//选择后允许编辑/删除/查看详情
		if (findCheckedNodes != null) {
			$scope.Guid = $('#treeview-checkable').treeview('getSelected')[0].Id;
			//编辑按钮
			$("#edit").on("click", function () {
				window.location.href = "/GoodsMan/GoodsType/Edit?Id=" + $('#treeview-checkable').treeview('getSelected')[0].Id;
			});

			//删除按钮
			$("#delt").on("click", function () {
				swal({
					title: "您确认删除吗？",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					cancelButtonText: "取消",
					confirmButtonText: "确定",
				}, function () {
					$http({
						method: 'POST',
						url: "/GoodsMan/GoodsType/Remove/" + $('#treeview-checkable').treeview('getSelected')[0].Id,
					}).then(function successCallback(response) {
						// 请求成功执行代码
						$http({
							method: 'POST',
							url: '@Url.Action("FindAllGoodsType")',
						}).then(function successCallback(response) {
							// 请求成功执行代码
							console.log(response.data[0]);
							CreateTreeMenu(response.data);
						}, function errorCallback(response) {
							// 请求失败执行代码
						});
					}, function errorCallback(response) {
						// 请求失败执行代码
					});
				});
			});

			//详情按钮
			$("#detail").on("click", function () {
				window.location.href = "/GoodsMan/GoodsType/Detail?id=" + $('#treeview-checkable').treeview('getSelected')[0].Id;
			});
		}

	});

	//创建树形菜单
	function CreateTreeMenu(data) {
		$('#treeview-checkable').treeview({
			data: data,
			onNodeChecked: nodeChecked,
			onNodeUnchecked: nodeUnchecked,
		});
	}

	//节点选中
	var nodeCheckedSilent = false;
	function nodeChecked(event, node) {
		if (nodeCheckedSilent) {
			return;
		}
		nodeCheckedSilent = true;
		nodeCheckedSilent = false;
	}

	//节点取消选中
	var nodeUncheckedSilent = false;
	function nodeUnchecked(event, node) {
		if (nodeUncheckedSilent)
			return;
		//nodeUncheckedSilent = true;
		nodeUncheckedSilent = false;
	}
</script>